<div layout="column" flex id="content" role="main" ng-controller="LoginController">
    <md-content layout="vertical" flex id="content">
        <div layout="row" layout-align="center center" layout-fill>
            <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
                <form ng-submit="login(user.username, user.password)">
                    <md-content layout="column">
                        <md-input-container class="md-block">
                            <label>User name</label>
                            <input ng-model="user.username">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input ng-model="user.password" type="password">
                        </md-input-container>
                        <md-input-container layout-align="center center">
                            <div layout="row" layout-sm="column" layout-margin>
                                <md-button class="md-raised" flex="50" flex-sm="100"
                                           ng-click="login(user.username, user.password)">Login
                                </md-button>
                            </div>
                        </md-input-container>
                    </md-content>
                </form>
            </md-whiteframe>
    </md-content>
</div>