
div.map {
    background-color: white;
    display: block;
}

.fill-screen {
    min-height: calc(100vh - 60px);
}

.fill-grid-screen {
    min-height: calc(100vh - 142px);
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v10/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.map-button-bar-right {
    margin-top: -55px;
    margin-left: 10px;
    position: absolute;
}

.map-button-bar-left {
    margin-top: -55px;
    margin-right: 10px;
    position: absolute;
    right: 0;
}

.map-legend {
    background: white;
    position: absolute;
    height: 127px;
    width: 100px;
    margin-left: 10px;
    bottom: 65px;
    display: block;
    opacity: .8;
    border-radius: 15px;
    font-size: 20px;
    padding-top: 6px;
}

.map-legend-tall {
    height: 300px;

}
.map-legend-wide {
    width: 160px;
}

.color-line {
    margin-left: 10px;
    line-height: 25px;
}

.color-box {
    display: inline-table;;
    height: 15px;
    width: 25px;
}